$dark-gry: rgba(51, 51, 51, 0.8) ;
$text-color: #FFF; 
$highlight: green; 
$roboto-font: 'Roboto', sans-serif;
$lato-font: 'Lato', sans-serif;


$z-indexes: (
    "outdated-browser",
    "modal",
    "site-header",
    "page-wrapper",
    "site-footer"
);

$color-grey-dark: #777;

$color-white: #FFF;
$color-black: #000;

$html-font-size: 16px;
//Font 
$default-font-size: 1.6rem;

//Grid 
$grid-width:114rem;
$gutter-verticle: 8rem;
$gutter-verticle-small: 6em;
$gutter-horizontal: 2rem;


$break-small: 320px;
$break-large: 1200px;

$information-phone: "only screen and (max-width : 320px)";
$phone : '(max-width: 480px)';
$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';

$retina: '(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)';


