.hero{
  background-color: $dark-gry;
  height: 100vh;

  &--slider{
     display: flex;
     flex-direction: row;
     position: relative;

     &__navigation{
         display: block;
        


        &--previous{
           height: 100px;
          color: green;
          font-size: 100px;
          text-decoration: none;
           position: absolute;
          top: 152px;
          left: 0px;
        }

        &--next{
          height: 100px;
          color: green;
          font-size: 100px;
          text-decoration: none;
           position: absolute;
          top: 152px;
          right: 0;
        }
     }


     &__caption{
        width: 40%;
        margin-left: 8%;
        margin-top: 8%;
     }

     &__caption-header{
        color: $color-white;
        font-size: 42px;
        font-family: $lato-font;
     }
     &__caption-body{
        color: $color-white;
        font-size: 16px;
        font-weight: 300;
        font-family: $roboto-font;
        margin-top: 4%;
        margin-bottom: 9%;

     }

     &__caption-link{
         padding: 3% 6%;
         background-color: green;
         color: $color-white;
         text-decoration: none;
         @include border-radius(4px);
     }

     &__image{
       width: 40%;
       margin-left: 4%;
        
         @include border-radius(50%);
       img{
         width: 80%;
         height: 350px;
         @include border-radius(50%);
         border: 17px solid #666; 
        
       }
     }
  }// slider 
}